*{
    padding: 0;
    margin: 0;
    font-family: 'Archivo Black', sans-serif;
}

.container{
    width: 60%;
    margin: 0 auto 0 auto;
}

/* Logo og Links i toppen */
.headerbox{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header img{
    display: flex;
    align-items: flex-end;
    width: 150px;
    
}

.toplinks{
    display: flex;
    list-style-type: none;
}

.toplinks a{
    padding: 17px 25px;
    color: grey;
    text-decoration: none;
    display: block;
}

.toplinks a:hover{
    background-color: darkred;
}
/* Affordable */
.Affordable{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/SlideShow Images/SlideShowOne.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main h1{
    font-size: 55px;
    color: white;
    display: flex;
    align-content: center;
    text-align: center;
    padding: 160px 0 0 0;
}

.boxlink{
    margin: 70px 0 0 0;
}

.boxlink1{
    display: flex;
    list-style-type: none;
}

.boxlink1 a{
    padding: 10px 25px;
    color: black;
    text-decoration: none;
    display: block;
    color: white;
}

.color1{
    background-color: rgb(235, 80, 53);
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
}

.color1:hover{
    background-color: black;
}

.color2{
    background-color: rgb(28, 224, 126);
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
}

.color2:hover{
    background-color: black;
}

.boxlink2{
    display: flex;
    justify-content: space-between;
    color: rgb(182, 171, 171);
    padding: auto auto;
}

.boxlink3{
    padding: 90px;
    font-size: 11px;
}

/* OurFocus */
.OurFocus{
    display: flex;   
}

.OurFocus h2{
    font-size: 50px;
}

.mainfocus{
    text-align: center;
    padding: 80px 0 40px 0;
}

.mainfocus p{
    color: gray;
}

.Focus{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.focusimg{
    display: flex;
    justify-content: space-around;
    padding: 50px 0 80px 0;
}

.focusimgalt{
    text-align: center;
    padding: 0 15px 20px 5px;
}

.focushp p{
    padding: 20px 0 0 0;
}

.focushp p::after {
    content: "";
    display: block;
    width:calc(80% - 40px);
    height: 3px;
    position: relative;
    left: 43px;
    top: 10px;
}

#web::after{
    background: rgb(206, 54, 54);
}

#photo::after{
    background: rgb(102, 185, 53);
}

#email::after{
    background: rgb(86, 86, 248);
}

#SEO::after{
    background:rgb(230, 230, 62);
}

.ourimg{
    width: 70px;
    height: 70px;
    padding: 30px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid rgb(216, 216, 216);
}

.focusimgp{
    padding: 20px 0 0 0;
    color: grey;
}

.Focush{
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.Focusp{
    padding: 24px;
    font-size: 13px;
    color: grey;
}

/* delt */
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Testimonials */
.Testimonials{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(218, 196, 73);
    padding: 80px;
}

.Testimonials h2{
    font-size: 50px;
}

.Testimonialshead{
    text-align: center;
    padding: 0 0 80px 0;
}

.Testimonialsnews{
    display: flex;
}

.Testimonialsnewsimg{
    display: flex;
    justify-content: flex-end;
}

.Testimonialsnewsimg img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1px solid rgb(216, 216, 216);
}

.Testimonialsnewscolor{
    background-color: white;
    color: black;
    width: 500px;
    height: 300px;
    padding: 15px;
    margin: 20px;
}

/* Portfolio */
.portfoliomain h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 80px 0 0 0;
}

.portfoliomain p{
    display: flex;
    justify-content: center;
    color: gray;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0 90px 0;
}

.portimg{
    display: flex;
    width: 25%;
    height: 210px;
}

.portimg img{
    width: 100%
}

/* Contact Form */
.touchhead{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/SlideShow Images/SlideShowOne.jpg");
    color: white;
}

.touchhead h2 {
   text-align: center;
   font-size: 40px;
}

.touchhead p{
    text-align: center;
}

form {
    width: auto;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.NES{
    display: inline-block;
    border-radius: 5px;
}

input, textarea {
    border:0; outline:0;
    padding: 5px;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    resize: none;
    border-radius: 5px;
}
  
#input-submit {
    color: white; 
    background: Tomato;
    cursor: pointer;
    margin-left: 905px;
    padding: 10px 50px;
    border-radius: 5px;
}
  
textarea {
    height: 200px;
    width: 100%;
}

.half {
  margin-bottom: 1em;
}

.right { width: 50%; }

/* footer */
footer{
    background-color: black;
}

.footert{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: gray;
    padding: 100px;
    font-size: 12px;
}

.footert i{
    display: flex;
    justify-content: center;
    padding: 0 0 10px 0;
    font-size: 30px;
}

.footert i::before{
    
}

.carl::before{
    color: rgb(206, 54, 54)
}

.con::before{
    color: rgb(102, 185, 53);
}

.nr::before{
    color: rgb(75, 175, 241);
}